<?xml version="1.0"?>

<model>
  <name>checkpoint</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Diego Cubillo</name>
    <email>dcubillo@comillas.edu</email>
  </author>

  <description>
	Circular checkpoint printed on the floor.
  </description>
</model>